@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;}
*:before, *:after{box-sizing:border-box;}
body{font-family: 'Montserrat', sans-serif;font-size:0.83vw;color:#888;height:100%;font-weight:400; overflow-x: hidden;}
a{text-decoration:none;outline:none; color: #ffffff; transition: all 0.2s linear; -webkit-transition: all 0.2s linear;}
a:hover{color:#000;}
img{vertical-align:top;max-width:100%;height:auto;border:none;}
input, select, textarea, button{font-family:"Gotham",sans-serif;font-size:14px;color:#fff;font-weight:400;}
h1, h2, h3, h4, h5, h6, p{padding:0 0 0.30em;}
h1, h2, h3, h4, h5, h6{color:black; margin: 0}
p{color:#000; letter-spacing:0.02em; line-height: 1.8; margin-bottom: 1.5em; word-wrap: break-word; padding-bottom: 0; font-size: 1.1em;}
/* h1{font-size:2em}
h2{font-size:1.8em;}
h3{font-size:1.6em;}
h4{font-size:1.4em;}
h5{font-size:1.2em;}
h6{font-size:1em;} */
ul{padding:0 0 1.250em 1.250em;}
li{padding:0.250em 0; letter-spacing:0.02em; line-height: 1.5; word-wrap: break-word;}
iframe{max-width:100%;border:none;}
.fl{float:left;}
.fr{float:right;}
.clr,
.cl,
.clear{clear:both;}
.clearfix:after{clear:both;display:block;visibility:hidden;content:"";}
input:focus,
textarea:focus,
select:focus,
button:focus{outline:none;}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{border:0.05em solid #ddd;padding:0 1.563em;height:3em;max-width:100%;
box-shadow:none;width:100%;color:#000;font-size:1.000em;}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus{background-color:transparent;color:#000; border-color:#ddd;}
select{border:0.125em solid #939393;background:#ffffff;border-radius:1.813em;padding:0.625em 1.563em;height:3.625em;line-height:3.48em;box-shadow:none;font-size:1.000em;}
input[type="image"],
input[type="submit"],
input[type="button"],
button{background:#000;box-shadow:none;border:none;border-radius:3em;color:#FFFFFF;cursor:pointer;display:inline-block;font-size:1.125em;padding:0 4em;height:3.20em;line-height:normal;transition:background-color 0.2s ease-in-out 0s, border-color 0s ease-in-out 0s; -webkit-transition:background-color 0.2s ease-in-out 0s, border-color 0s ease-in-out 0s; font-weight:700;text-transform:uppercase;appearance:normal;-webkit-appearance:none;outline:none;}
input[type="image"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover{background-color:#000;}
input[type="image"]:active,
input[type="submit"]:active,
input[type="button"]:active,
button:active{box-shadow:none;outline:none;}
textarea{resize:none;min-height:8.84em;padding:0.800em 1.563em;}
.alignleft{float:left;margin:8px 20px 8px 0;}
.alignright{float:right;margin:8px 0 8px 20px;}
.aligncenter{margin:8px auto;text-align:center;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
input[type=number]{-moz-appearance:textfield;}
.quantity input{width:45px;height:42px;line-height:1.65;float:left;display:block;padding:0;margin:0;padding-left:20px;border:1px solid #eee;}
.quantity input:focus{outline:0;}



/* styling */
.wrapper{
    margin: 0 auto;
    padding: 0em 7em;
    width: 100%;
    max-width: 100%;
}
.headerbg{
    background-color: white;
}
.header-whole {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0em 2em 0em;
}
ul.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0em;
}
ul.nav li a{
    font-size: 1em;
    line-height: 2.125em;
    color: #e67315;
    font-family: "Montserrat";
    font-weight: 500;
    text-transform: uppercase;
}
a{color: black;}
ul.nav li a:hover{
    color: black;
}
ul.nav li{
    padding-right: 2.5em;
}
/* sec */
.banner-whole{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
}
.banner-left{
    padding: 14em 0em 14em 0em;
}
.right-banner{
    margin-top: 11em;
    position: relative;
}
.bannerbg{
    background-image: url(../images/bannerbg.jpg);
    background-position: center;
    background-size: cover;
}
.bain-image{
    position: absolute;
    bottom: 0;
    /* left: 0; */
    right: 20em;
    /* top: 0; */
    width: 32em;
   
}
.banner-text h2.heading2{
    font-size: 5em;
    letter-spacing: -2px;
    color: #ffffff;
    font-family: "Montserrat";
    /* font-weight: 600; */
    /* text-align: center; */
    padding: 0px;
    text-transform: uppercase;
}
.banner-text h3.heading3{
    font-size: 2.250em;
    /* letter-spacing: -1px; */
    /* line-height: 3em; */
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
    padding: 0em;
}
.banner-text .contact-us{
    width: 14em;
    /* height: 59px; */
    border-radius: 4px;
    background-color: #e67315;
    border: 2px solid #ffffff;
    text-align: center;
    padding: 1em 0em;
    margin-top: 2em;
}
.free-c h2.heading2{
    width: 100%;
    /* height: 79px; */
    background-color: #242d4b;
    padding: 1em 1em;
    font-size: 1.625em;
    letter-spacing: 0px;
    /* line-height: 2.5em; */
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
}
.form-column{
    background-color: rgba(255,255,255,0.9215686274509803);
    padding: 2em 1em;
}
.contact-us a{
    font-size: 1.5em;
    /* line-height: 48px; */
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
}
.form-column.form-control{
    width: 100%;
}
.form-control{
    padding-bottom: 1em;
}
.form-control select.choose{
    height: 3.625em;
    line-height: 3.48em;
    box-shadow: none;
    font-size: 1.000em;
    width: 100%;
    border-radius: 0em;
    /* border: none; */
    color: black;
    border: 0.125em solid #dddddd;
}
.checking-wholebox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0em;
    padding: 0em 0em 1em 0em;
}
.re-capcha{
    padding-left: 1em;
}
.check-text h2.heading2{
    font-size: 1em;
    letter-spacing: 0px;
    line-height: 2.5em;
    color: #929292;
    font-family: "Montserrat";
    font-weight: 300;
    padding: 0em;
}
.checking-wholebox .terms{
    padding-right: 1em;
}
input.submit-btn{
    width: 80%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #e67315;
    color: #e67315;
    font-size: 1.625em;
    letter-spacing: 0px;
    /* line-height: 40px; */
    color: #e67315;
    font-family: "Montserrat";
    font-weight: 600;
    padding: 0.5em 0em 0.5em 0em;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{
    background-color: white;
}
.contact-us:hover{
    background-color: black;
    border-color: black;
}
.contact-us a:hover{
    color: #e67315;
}
/* sec */
.exp-law{
    padding: 4.813em 4.813em;
}
.exp-whole{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.title-text h3.heading3{
    font-size: 1.375em;
    letter-spacing: 0px;
    line-height: 1.5em;
    color: #242d4b;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    padding: 0em;
    position: relative;
    display: inline;
}
.title-text h2.heading2{
    font-size: 2.250em;
    letter-spacing: -1px;
    line-height: 1.5em;
    color: #e67315;
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
    padding: 0em;
    padding-bottom: 1.375em;;
    position: relative;
    text-transform: uppercase;
}
.title-text p{
    font-size: 1.375em;
    letter-spacing: 0px;
    line-height: 1.5em;
    color: #242d4b;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    padding: 0em;
    margin: 0em;
}
.read-text a {
    font-size: 1.125em;
    letter-spacing: 0px;
    line-height: 2.500em;
    color: #e67315;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    padding: 0em;
}
.readmore-w{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    /* height: 37px; */
    border-radius: 4px;
    /* background-color: #091430; */
    border: 1px solid #e67315;
    /* padding-top: 0em; */
    margin:  0 auto;
    margin-top: 2.125em;
}
.logo-read{
    padding-left: 0.5em;
}
.read-text a:hover{
   
}
/* sec */
.lawbg{
    background-image: url(../images/lawbg.jpg);
    background-position: center;
    background-size: cover;
}
.lawservices-w h3.heading3{
    color: white;
}
ul.listing-box{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.traffic-text a{
    font-size: 1.375em;
    letter-spacing: 0px;
    line-height: 1.250em;
    color: #242d4b;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
}
.traffic-text{
    font-size: 1.375em;
    letter-spacing: 0px;
    line-height: 1.250em;
    color: #242d4b;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    align-items: center;
    padding-top: 1em;
    
}
.traffic-image{
    text-align: center;
    align-items: center;
    
}
.traffic-image img{
    /* width: 4em; */
}
.white-box{
    width: 14em;
    height: 16em;
    border-radius: 20px;
    background-color: #f7f7f7;
    border: 2px solid #ffffff;
    padding: 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.plus-image{
    padding-top: 1em;
    text-align: center;
    padding-bottom: 1em;
}
.whole-personal-i .injury-text{
    max-width: 66.67%;
    padding-left: 2em;
}
.whole-personal-i{
    display: flex;
   
    padding: 2em 0em 2em 0em;
}
.personal-injury h2.heading2{
    font-size: 1.875em;
    line-height: 1;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
    /* padding: 0em; */
    position: relative;
    padding-bottom: 0.8em;
}
.injury-text p{
    color: white;
    text-align: left;
}
.injury-text .readmore-w{
    width: 13em;
    margin: 0em;
    /* padding-top: 0em; */
    margin-top: 2em;
    border: 1px solid white;
}
.read-text a{  
    
}
ul.listing-box li{
    width: 14%;
    padding-right: 1em;
}
.law-services{
    padding: 4em 0em 4em 0em;
}
.ui-widget-content{background: none;}
.ui-tabs{padding: 0em;}

.ui-corner-all{border: none;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{border: none;}
.ui-widget-header{background: none;}
.ui-widget.ui-widget-content{border: none;}
.ui-tabs .ui-tabs-panel{padding: 0em;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{background:none; border: none;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{background-attachment: none;border: none;}
.white-box:hover{
    background-color: #e67315;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{background: none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{background-color: transparent;border: none;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color: black;}
li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab{margin-right: 0em;}

.read-more-white .read-text a{
    color:#fff;
}
.richamond{
    padding: 4em 4em;
}
.richamond-whole{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.mond-right .title-text p{
    text-align: left;
    padding-bottom: 1em;
}
.mond-right .readmore-w{
    margin: 0em;
}
.mond-right h3.heading3{
    text-align: left;
}
.mond-right h2.heading2{
    text-align: left;
}
.mond-left{
    
    padding-right: 2em;
}
.mond-right{
    max-width: 58.67%;
    width: 100%;
}
.mond-right .readmore-w{
    width: 14em;
}
.mond-image{
 position: relative;
}
/* sec */
.testimonials-w{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.testimonials-w p{
    text-align: left;
    color: white;
    max-width: 48em;
    text-align: center;
}
.testibg{
    background-image: url(../images/testimonial.jpg);
    background-position: center;
    background-size: cover;
}
.testimonials-w .left-t{
    
    padding-right: 2em;

}
.testimonials h3.heading3{
    color: white;
}
.testimonials h2.heading2{
    color: white;
}
.testimonials-w .right-t{
    max-width: 100%;
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
}
.testimonials{
    padding: 4em 0em 4em 0em;
}
/* sec */
.recentbg{
    background-image: url(../images/blogsbg.jpg);
    background-position: center;
    background-size: cover;
}
.blogs-w h2.heading2{
    color: white;
}
.blogs-w h3.heading3{
    color: white;
}
.blog-title h2.heading2{
    font-size: 1.250em;
    line-height: 1.625em;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
    padding: 1em 0em 2em 0em;
}
.blog-title h3.heading3{
    font-size: 1.125em;
    line-height: 1.625em;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 0em 0em 1em 0em;
}
.blog-title p{
    font-size: 1.125em;
    line-height: 1.625em;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0em;
    padding-bottom: 1em;
}
.read-more2 a{
    font-size: 1.125em;
    line-height: 1.625em;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    text-decoration: underline;
}
ul.listing-blogs{
    padding: 0em;
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}
ul.listing-blogs li{
    padding: 0em 2em 0em 0em;
    width: 25%;
   
}
.recent-blogs{
    padding: 5em 0em 5em 0em;
}
.blog-image{
    width: 100%;
}
.form-row{
    display: flex;
    align-items: center;
    margin: 0em -1em;
}
.form-row .form-control{
    width: 100%;
    padding: 1em 1em;
}
.whole-condition{
    display: flex;
    justify-content: space-between;
}
input.submit-btn2{
    font-size: 1.125em;
    letter-spacing: 0px;
    line-height: 2.500em;
    color: #e67315;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    border-radius: 0em;
    border: 1px solid #e67315;
    background-color: white;
   
   
    /* padding: 0em 4em; */
   
}
.getin-bg{
    background-image: url(../images/maps.jpg);
    background-position: center;
    background-size: cover;
}
.getin-touch{
    padding: 5em 0em 5em 0em;
}
.title-text h2.heading2::after{
    content: "";
    width: 11%;
    height: 4px;
    bottom: 0;
    background-color: #0000008a;
    position: absolute;
    left: 7px;
    right: 0;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.title-text h2.heading2{
    padding-bottom: 0.2em;
    margin-bottom: 1em;

}
.title-text h2.heading2.align-left:after{
    margin:0;
}
.checking-wholebox2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0em;
    border: 1px solid #d8d8d8;
    background-color: #f9f9f9;
    padding: 0em 0em 0em 1em;
}
.checking-wholebox2 .terms{
    padding-right: 1em;
}
/* last section */
.footerbg2{
    background-color: #202946;
}
ul.footer-line2{
    padding: 0em;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.footer-line2 li a{
    font-size: 1.250em;
   height: 1em;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
   
}
.footer-box2 .items-r{
  text-align: center;
  align-items: center;
  padding-top: 1em;
}
ul.footer-line2 li{
    border-left: 1px solid #ffffff;
    padding: 0em 1em;
    line-height: 1;
    font-size: 1.125em;
    color: #ffffff;
   
}
.logo-last{
    width: 100%;
}
ul.footer-line2 li:first-child{
    border-left: none;
}
.footer-la{
    padding: 3em 0em 3em 0em;
}
/* sec */
.footerbg{
    background-image: url(../images/footerbg.jpg);
    background-position: center;
    background-size: cover;
}
.footer-whole{
    display: flex;
   
    justify-content: center;
}
.footer-div{
    width: 33.33%;
    padding-right: 3em;
}
.footer-div1{
    width: 33.33%;
    padding-right: 3em;
}
.recent-blogs-w{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}
.recent-image{
    padding-right: 1em;
}
ul.social-logo{
    padding: 0em;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banshe-text p{
    color: white;
    font-size: 1em;
    letter-spacing: 0px;
    line-height: 2.125em;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0em;
}
.quick-links li a{
    color: white;
}
.get-in-whole{
    display: flex;
    align-items: baseline;
    padding-bottom: 1em;
}
.banshe-text{
    padding-top: 2em;
}
.second-part h3.heading3{
    color: white;
    text-align: left;
    text-transform: uppercase;
}
.third-part h3.heading3{
    color: white;
    text-align: left;
    text-transform: uppercase;
}
.get-text h2.heading2{
    font-size: 1em;
    letter-spacing: 0px;
    line-height: 1.625em;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 0em;
}
.fourth-part h3.heading3{
    color: white;
    text-align: left;
    text-transform: uppercase;
}
.review-us{
    width: 10.63em;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #ffffff;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em auto;
}
.review-us a{
    color: white;
    font-size: 1.125em;
    letter-spacing: 0px;
    line-height: 2.125em;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
}
.get-text h3.heading3{
font-size: 0.9em;
line-height: 1.625em;
color: #e67315;
font-family: "Montserrat";
font-weight: 300;
padding: 0em;
}
.footer{
    padding: 5em 0em 4em 0em;
}
ul.quick-links li{
    padding: 0em 0em 1.5em 0em;
    width: 50%;
}
ul.quick-links{
    /* padding-top: 2em; */
    list-style-type: none;
    padding: 2em 0em 0em 0em;
    display: flex;
    flex-wrap: wrap;
}
.recentblogs-whole{
    padding-top: 2em;
}
.get-in-touch-w{
    padding-top: 2em;
}
ul.social-logo li{
    padding: 0em 0.5em;
}
.get-in-whole h2.heading2{
    padding-left: 1em;
}
ul.social-logo li a img:hover{
    background-color: #e67315;

}
.quick-links li a:hover{
    color: #e67315;
} 
.get-in-whole h2.heading2:hover{
    color: #e67315;
} 
.review-us:hover{
    background-color: #e67315;
    border-color: #e67315;
}
.review-us a:hover{
    color: black;
}
.get-text h3.heading3:hover{
    color: white;
}
ul.footer-line2 li a:hover{
    color: #e67315;
}
li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab{
    width: 14em;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{padding: 0em;}
.injury-text .readmore-w:hover{
    background-color: black;
    border-color: black;
}
.personal-injury h2.heading2::after{
    content: "";
    width: 13%;
    height: 4px;
    bottom: 20%;
    background: white;
    position: absolute;
    left: 4px;
    right: 0;
    text-align: center;
    align-items: center;
}
/* .title-text h3.heading3::after{
    content: "";
    width: 55%;
    height: 2px;
    bottom: 0;
    background: white;
    position: absolute;
    left: 41%;
    right: 0;
    text-align: center;
    align-items: center;
    top: 50%;

} */
.title-text h3.heading3{
   
}
.blog-title h2.heading2::after{
    content: "";
    width: 42%;
    height: 4px;
    /* bottom: 0; */
    background: white;
    position: absolute;
    left: 0em;
    right: 0;
    text-align: center;
    align-items: center;
    /* top: 50%; */
    /* margin: 2.5em 0em; */
    bottom: 0.5em;
}
.blog-title h2.heading2{position: relative;}
.read-more2 a:hover{color: black;}

.title-text h3.heading3.differ::after
{
    content: "";
    width: 100%;
    height: 2px;
    /* bottom: 0; */
    background: white;
    position: absolute;
    left: 100%;
    /* right: 0; */
    text-align: center;
    align-items: center;
    top: 50%;
}
.third-part{
    overflow: hidden;
}
h3.heading3.differ{
    padding-right: 1em;
}
h3.heading3.new-one{
    display: block;
}
.mond-image::after{
    content: "";
   
    position: absolute;
    border: 2px solid #fff2f2;
   
    top: 11px;
    left: 11px;
    right: 11px;
    bottom: 11px;
}
.injury-image::after{
    content: "";
    border-radius: 2em;
    position: absolute;
    border: 2px solid #fff2f2;
    top: 11px;
    bottom: 1em;
    left: 1em;
    right: 3em;
    top: 1em;
}
.injury-image{
    position: relative;
    width: 32em;
}
.top-line-w{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lo-text h2.heading2{
    font-size: 1em;
    line-height: 2.500em;
    color: #221f20;
    font-family: "Montserrat";
    font-weight: 300;
    padding: 0em;
}
.location2-image{
    padding-right: 1em;
}
.top-line{
    padding: 1em 0em;
}
section.topbg{
    border-bottom: 1px solid #0000006b;
    background-color: #ffffff;
}
.lawservices-w h2.heading2{
    color: white;
}
.title-text h2.heading2.color::after{
    background-color: white;
}
.readmore-w:hover{
    background-color: black;
    border-color: black;
}
.star{
    padding-top: 1em;
}
.second-part{overflow: hidden;}
.fourth-part{overflow: hidden;}
input.unique{width: 18px;
    height: 25px;}
    /* .blog-image img{width: 100%;} */
    .traffic-text h4.heading4{
        font-size: 1em;
    letter-spacing: 0px;
    line-height: 1;
    color: #242d4b;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    padding: 0em;
    }
    ul.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header{display: flex;
        justify-content: center;
        align-items: center;
    list-style-type: none;}
        li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab{margin-right: 1em;}
       
        .toggle{
    font-size: 3em;
    width: 100%;
    display: none;
        }
        .close-btn{
            font-size: 3em;
            width: 100%;
            display: none;
        }
        .traffic-text h4.heading4 br{
            display: none;
        }
        .testi-image{
    display: flex;
    justify-content: center;
    align-items: center;
        }
        input[type="image"]:hover, input[type="submit"]:hover, input[type="button"]:hover, button:hover{border-color: black;}
        ul.quick-links li a{
            font-size: 1em;
        }
        .form-control.size{font-size: 1.2em;}     
        .submit{text-align: center;}